@media screen and (min-width: 320px) and (max-width: 768px)  {
    body {
        background-image: url(../imagens/mineback.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    fieldset{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20%;  
        max-width: 300px;   
        margin: 0px auto;
        background-color: azure;
        border-radius: 10px;
        padding: 20px 10px;
    
    }
    input.login{
        width: 80%;
        padding: 2px;
        margin: 3px;
        border-radius: 5px;
        border:2px solid rgb(67, 1, 49);
        
    }
    label{
        display: none;
    }
    .button{
        width: 100%;
    }
}